<section class="schedule section this--alone">
	<div class="container">
		<div class="schedule__content js_flight_accordion_group">
			<div class="flight_board__top this--schedule">
				<div class="flight_board__top_left">
					<a href="#" class="flight_board__link active">Из Сургута</a>
					<a href="#" class="flight_board__link">В Сургут</a>
				</div>
				<div class="flight_board__top_right">
					<a href="#" class="flight_board__right_link active">Внутренние рейсы</a>
					<a href="#" class="flight_board__right_link">Международные рейсы</a>
				</div>
			</div>
			<div class="schedule__direction">
				<select class="schedule__direction_select" name="direction" id="direction-select">
					<option value="0" selected>Все направления</option>
					<option value="1">Астрахань</option>
					<option value="2">Барнаул</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
					<option value="3">Волгоград</option>
				</select>
			</div>
			<div class="schedule__flights">
				<div class="schedule__title">Астрахань</div>
				<div class="schedule__head">
					<div class="schedule__head_right">
						<div class="schedule__head_days">
							<div class="schedule__head_value">Дни вылета</div>
						</div>
						<div class="schedule__head_departure">
							<div class="schedule__head_value">Вылет</div>
						</div>
						<div class="schedule__head_arrival">
							<div class="schedule__head_value">Прибытие</div>
						</div>
					</div>
					<div class="schedule__head_left">
						<div class="schedule__head_num">
							<div class="schedule__head_value">Рейс</div>
						</div>
						<div class="schedule__head_city">
							<div class="schedule__head_value">Направление</div>
						</div>
						<div class="schedule__head_company">
							<div class="schedule__head_value">Компания</div>
						</div>
						<div class="schedule__head_period">
							<div class="schedule__head_value">Период</div>
						</div>
					</div>
				</div>
				<div class="schedule__flight">
					<div class="schedule__flight_right js_flight_accordion_head">
						<div class="schedule__flight_days">
							<div class="schedule__flight_days_row">
								<span class="active">пн</span>
								<span class="active">вт</span>
								<span class="active">ср</span>
								<span class="active">чт</span>
								<span>пт</span>
								<span class="active">сб</span>
								<span>вс</span>
							</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="schedule__flight_departure">
							<div class="schedule__label">Вылет</div><div class="schedule__flight_value">14:20</div>
						</div>
						<div class="schedule__flight_arrival">
							<div class="schedule__label">Прибытие</div><div class="schedule__flight_value">17:20</div>
						</div>
					</div>
					<div class="schedule__flight_left js_flight_accordion_body">
						<div class="schedule__flight_num">
							<div class="schedule__label">Рейс</div><div class="schedule__flight_value">FG 0395</div>
						</div>
						<div class="schedule__flight_city">
							<div class="schedule__label">Направление</div><div class="schedule__flight_value">Астрахань</div>
						</div>
						<div class="schedule__flight_company">
							<div class="schedule__label">Авиакомпания</div>
							<div class="schedule__flight_company_wr">
								<div class="schedule__flight_img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
								<div class="schedule__flight_value">Победа</div>
							</div>
						</div>
						<div class="schedule__flight_period">
							<div class="schedule__label">Период</div><div class="schedule__flight_value">12.12.22 - 22.01.2023</div>
						</div>
					</div>
				</div>
			</div>
			<div class="schedule__flights">
				<div class="schedule__title">Барнаул</div>
				<div class="schedule__head">
					<div class="schedule__head_right">
						<div class="schedule__head_days">
							<div class="schedule__head_value">Дни вылета</div>
						</div>
						<div class="schedule__head_departure">
							<div class="schedule__head_value">Вылет</div>
						</div>
						<div class="schedule__head_arrival">
							<div class="schedule__head_value">Прибытие</div>
						</div>
					</div>
					<div class="schedule__head_left">
						<div class="schedule__head_num">
							<div class="schedule__head_value">Рейс</div>
						</div>
						<div class="schedule__head_city">
							<div class="schedule__head_value">Направление</div>
						</div>
						<div class="schedule__head_company">
							<div class="schedule__head_value">Компания</div>
						</div>
						<div class="schedule__head_period">
							<div class="schedule__head_value">Период</div>
						</div>
					</div>
				</div>
				<div class="schedule__flight">
					<div class="schedule__flight_right js_flight_accordion_head">
						<div class="schedule__flight_days">
							<div class="schedule__flight_days_row">
								<span class="active">пн</span>
								<span class="active">вт</span>
								<span class="active">ср</span>
								<span class="active">чт</span>
								<span>пт</span>
								<span class="active">сб</span>
								<span>вс</span>
							</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="schedule__flight_departure">
							<div class="schedule__label">Вылет</div><div class="schedule__flight_value">14:20</div>
						</div>
						<div class="schedule__flight_arrival">
							<div class="schedule__label">Прибытие</div><div class="schedule__flight_value">17:20</div>
						</div>
					</div>
					<div class="schedule__flight_left js_flight_accordion_body">
						<div class="schedule__flight_num">
							<div class="schedule__label">Рейс</div><div class="schedule__flight_value">FG 0395</div>
						</div>
						<div class="schedule__flight_city">
							<div class="schedule__label">Направление</div><div class="schedule__flight_value">Барнаул</div>
						</div>
						<div class="schedule__flight_company">
							<div class="schedule__label">Авиакомпания</div>
							<div class="schedule__flight_company_wr">
								<div class="schedule__flight_img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
								<div class="schedule__flight_value">Победа</div>
							</div>
						</div>
						<div class="schedule__flight_period">
							<div class="schedule__label">Период</div><div class="schedule__flight_value">12.12.22 - 22.01.2023</div>
						</div>
					</div>
				</div>
				<div class="schedule__flight">
					<div class="schedule__flight_right js_flight_accordion_head">
						<div class="schedule__flight_days">
							<div class="schedule__flight_days_row">
								<span class="active">пн</span>
								<span>вт</span>
								<span class="active">ср</span>
								<span>чт</span>
								<span>пт</span>
								<span class="active">сб</span>
								<span>вс</span>
							</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="schedule__flight_departure">
							<div class="schedule__label">Вылет</div><div class="schedule__flight_value">14:20</div>
						</div>
						<div class="schedule__flight_arrival">
							<div class="schedule__label">Прибытие</div><div class="schedule__flight_value">17:20</div>
						</div>
					</div>
					<div class="schedule__flight_left js_flight_accordion_body">
						<div class="schedule__flight_num">
							<div class="schedule__label">Рейс</div><div class="schedule__flight_value">FG 0395</div>
						</div>
						<div class="schedule__flight_city">
							<div class="schedule__label">Направление</div><div class="schedule__flight_value">Барнаул</div>
						</div>
						<div class="schedule__flight_company">
							<div class="schedule__label">Авиакомпания</div>
							<div class="schedule__flight_company_wr">
								<div class="schedule__flight_img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
								<div class="schedule__flight_value">Победа</div>
							</div>
						</div>
						<div class="schedule__flight_period">
							<div class="schedule__label">Период</div><div class="schedule__flight_value">12.12.22 - 22.01.2023</div>
						</div>
					</div>
				</div>
				<div class="schedule__flight">
					<div class="schedule__flight_right js_flight_accordion_head">
						<div class="schedule__flight_days">
							<div class="schedule__flight_days_row">
								<span class="active">пн</span>
								<span class="active">вт</span>
								<span class="active">ср</span>
								<span class="active">чт</span>
								<span>пт</span>
								<span>сб</span>
								<span>вс</span>
							</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="schedule__flight_departure">
							<div class="schedule__label">Вылет</div><div class="schedule__flight_value">14:20</div>
						</div>
						<div class="schedule__flight_arrival">
							<div class="schedule__label">Прибытие</div><div class="schedule__flight_value">17:20</div>
						</div>
					</div>
					<div class="schedule__flight_left js_flight_accordion_body">
						<div class="schedule__flight_num">
							<div class="schedule__label">Рейс</div><div class="schedule__flight_value">FG 0395</div>
						</div>
						<div class="schedule__flight_city">
							<div class="schedule__label">Направление</div><div class="schedule__flight_value">Барнаул</div>
						</div>
						<div class="schedule__flight_company">
							<div class="schedule__label">Авиакомпания</div>
							<div class="schedule__flight_company_wr">
								<div class="schedule__flight_img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
								<div class="schedule__flight_value">Победа</div>
							</div>
						</div>
						<div class="schedule__flight_period">
							<div class="schedule__label">Период</div><div class="schedule__flight_value">12.12.22 - 22.01.2023</div>
						</div>
					</div>
				</div>
				<div class="schedule__flight">
					<div class="schedule__flight_right js_flight_accordion_head">
						<div class="schedule__flight_days">
							<div class="schedule__flight_days_row">
								<span>пн</span>
								<span>вт</span>
								<span class="active">ср</span>
								<span class="active">чт</span>
								<span>пт</span>
								<span class="active">сб</span>
								<span>вс</span>
							</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="schedule__flight_departure">
							<div class="schedule__label">Вылет</div><div class="schedule__flight_value">14:20</div>
						</div>
						<div class="schedule__flight_arrival">
							<div class="schedule__label">Прибытие</div><div class="schedule__flight_value">17:20</div>
						</div>
					</div>
					<div class="schedule__flight_left js_flight_accordion_body">
						<div class="schedule__flight_num">
							<div class="schedule__label">Рейс</div><div class="schedule__flight_value">FG 0395</div>
						</div>
						<div class="schedule__flight_city">
							<div class="schedule__label">Направление</div><div class="schedule__flight_value">Барнаул</div>
						</div>
						<div class="schedule__flight_company">
							<div class="schedule__label">Авиакомпания</div>
							<div class="schedule__flight_company_wr">
								<div class="schedule__flight_img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
								<div class="schedule__flight_value">Победа</div>
							</div>
						</div>
						<div class="schedule__flight_period">
							<div class="schedule__label">Период</div><div class="schedule__flight_value">12.12.22 - 22.01.2023</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>