<section class="main_info section">
	<div class="container">
		<div class="main_info__content">
			<a href="#" class="main_info__link this--100">
				<div class="main_info__link_title">Информация об аэропорте <span></span></div>
				<div class="main_info__link_img">
					<img src="./img/main/main_info/img_1.jpg" alt="">
				</div>
			</a>
			<a href="#" class="main_info__link">
				<div class="main_info__link_title">Гостиница «Полёт» <span></span></div>
				<div class="main_info__link_img">
					<img src="./img/main/main_info/img_2.jpg" alt="">
				</div>
			</a>
			<a href="#" class="main_info__link">
				<div class="main_info__link_title">Парковка <span></span></div>
				<div class="main_info__link_img">
					<img src="./img/main/main_info/img_3.jpg" alt="">
				</div>
			</a>
		</div>
	</div>
</section>