.main_info {
  background: #ffffff;
}
.main_info__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-bottom: -60px;

  @media ($desktopSmall) {
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media ($tablet3) {
    margin-left: 0;
  }
}

.main_info__link {
  margin-left: 60px;
  margin-bottom: 60px;
  width: calc(50% - 60px);

  &:hover {
    @media ($desktopSmallMax) {
      .main_info__link_title {
        color: #416FEF;

        span {
          opacity: 1;
          visibility: visible;
        }
      }
      .main_info__link_img {
        img {
          transform: scale(1.04);
        }
      }
    }
  }
  &:focus {
    .main_info__link_title {
      color: #416FEF;

      span {
        opacity: 1;
        visibility: visible;
      }
    }
    .main_info__link_img {
      img {
        transform: scale(1.04);
      }
    }
  }

  @media ($desktopSmall) {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media ($tablet3) {
    width: 100%;
    margin-left: 0;
  }

  &.this--100 {
    width: calc(100% - 60px);
    @media ($desktopSmall) {
      width: calc(100% - 30px);
    }
    @media ($tablet3) {
      width: 100%;
    }
    .main_info__link_img {
      padding-top: 23.25%;
      @media ($tablet3) {
        padding-top: 48.31%;
      }
    }
  }
}
.main_info__link_title {
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: #2D3F57;
  display: flex;
  align-items: center;
  transition: color 0.25s;
  @media ($tablet3) {
    font-size: 18px;
    line-height: 135%;
  }

  span {
    display: inline-block;
    width: 25px;
    height: 30px;
    margin-left: 15px;
    background: url('../img/icons/blue_arrow_right_with_top.svg') center / 100% 100% no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
  }
}
.main_info__link_img {
  margin-top: 30px;
  padding-top: 48.19%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  @media ($desktopSmall) {
    margin-top: 15px;
  }
  @media ($tablet3) {
    padding-top: 48.31%;
  }

  img {
    transition: transform 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}