<section class="hotel_registration section">
	<div class="container">
		<div class="hotel_registration__content">
			<h2 class="hotel_registration__title">Регистрационная информация</h2>
			<div class="hotel_registration__items">
				<div class="hotel_registration__item">
					<span>Дата регистрации</span>
					<span>04.09.1997</span>
				</div>
				<div class="hotel_registration__item">
					<span>ОГРН</span>
					<span>1028600603998</span>
				</div>
				<div class="hotel_registration__item">
					<span>ИНН</span>
					<span>8602060523</span>
				</div>
				<div class="hotel_registration__item">
					<span>КПП</span>
					<span>860201001</span>
				</div>
				<div class="hotel_registration__item">
					<span>ОКТМО</span>
					<span>71876000</span>
				</div>
			</div>
			<div class="hotel_registration__links">
				<a href="#">Обработка персональных данных</a>
				<a href="#">Публичная оферта</a>
			</div>
		</div>
	</div>
</section>