<section class="vacancy_detail section this--alone">
	<div class="container">
		<div class="vacancy_detail__content">
			<div class="vacancy_detail__top">
				<a href="#" class="vacancy_detail__back">Назад к вакансиям</a>
			</div>
			<h1 class="vacancy_detail__title">Буфетчик отдела реализации службы авиационного кейтеринга</h1>
			<div class="vacancy_detail__subtitle">от 45 000 ₽</div>
			<div class="vacancy_detail__info">
				<h3>Обязанности</h3>
				<ul>
					<li>Осуществлять приготовление блюд, напитков и кулинарных изделий по технико-технологическим и технологическим картам согласно суточному производственному плану;</li>
					<li>Применять регламенты, стандарты и нормативно-техническую документацию, используемую при производстве блюд, напитков и кулинарных изделий на производстве.</li>
					<li>Соблюдать правила сочетаемости основных продуктов и сырья при приготовлении блюд, напитков и кулинарных изделий.</li>
					<li>Оценивать наличие сырья и материалов для приготовления блюд, напитков и кулинарных изделий и прогнозировать потребность в них в соответствии с имеющимися условиями хранения;</li>
					<li>знать и соблюдать правила товарного соседства, сроков реализации продуктов, условий хранения готовых кондитерских и хлебобулочных изделий и полуфабрикатов.</li>
				</ul>
				<h3>Требования</h3>
				<ul>
					<li>знание технологии приготовления блюд, напитков и кулинарных изделий, изготавливаемых на производстве</li>
					<li>удостоверение установленного образца, подтверждающее квалификацию повара;</li>
					<li>опыт работы не менее одного года в организациях общественного питания;</li>
					<li>внимательность, ответственность, дисциплинированность, высокая скорость, аккуратность</li>
					<li>пунктуальность, честность, ответственность.</li>
				</ul>
				<h3>Условия</h3>
				<ul>
					<li>Оформление по законодательству РФ</li>
					<li>Работа в команде</li>
					<li>Коллективная материальная ответственность</li>
					<li>Социальный пакет</li>
				</ul>
			</div>
			<div class="vacancy_detail__bottom">
				<div class="vacancy_detail__links">
					<a href="#">Задать вопрос</a> / <a href="#">Связаться с ответственным</a>
				</div>
				<div class="vacancy_detail__contacts">
					<span>Алена</span>
					<a href="tel:+79111111111">+7 (911) 111-11-11</a>
					<a href="mailto:test@mail.ru">test@mail.ru</a>
				</div>
				<a href="#" class="vacancy_detail__btn">Отправить резюме</a>
			</div>
		</div>
	</div>
</section>