.flight_board__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #8FAFC2;

  @media ($tablet3) {
    display: block;
    padding-bottom: 0;
    border-bottom: none;
  }

  &.this--schedule {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.flight_board__top_left {
  display: flex;
  align-items: center;
  margin-left: -25px;

  @media ($tablet) {
    margin-left: -15px;
  }
}
.flight_board__link {
  margin-left: 25px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 130%;
  color: rgba(66, 92, 127, 0.6);

  @media (max-width: 1360px) {
    font-size: 36px;
  }
  @media ($tablet) {
    margin-left: 15px;
    font-size: 22px;
    line-height: 135%;
  }

  &.active {
    pointer-events: none;
    color: #DB1E35;
  }
}
.flight_board__top_right {
  display: flex;
  align-items: center;
  margin-left: -20px;

  @media ($tablet) {
    margin-top: 20px;
    margin-left: -10px;
  }
}
.flight_board__right_link {
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: rgba(66, 92, 127, 0.6);
  margin-left: 20px;

  @media (max-width: 1360px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media ($tablet) {
    margin-left: 10px;
    font-size: 15px;
    line-height: 135%;
  }

  &.active {
    pointer-events: none;
    color: #DB1E35;
  }
}
.flight_board__flights {
  margin-top: 40px;
}
.flight_board__head {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 25px;

  @media ($desktopBig) {
    padding: 0 20px;
  }
  @media ($desktop) {
    display: none;
  }
}
.flight_board__head_left {
  display: flex;
  margin-right: 80px;
  flex: 0 0 auto;

  @media ($desktopBig) {
    margin-right: 10px;
  }
}
.flight_board__head_time {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #2D3F57;
  width: 60px;
  text-align: center;
  flex: 0 0 auto;
}
.flight_board__head_city {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #2D3F57;
  width: 350px;
  margin-left: 40px;

  @media ($desktopBig) {
    margin-left: 15px;
    width: 250px;
  }
}
.flight_board__head_right {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}
.flight_board__head_num {
  width: 110px;
  flex: 0 0 auto;
}
.flight_board__head_logo {
  width: 90px;
  flex: 0 0 auto;
  margin-left: 10px;
}
.flight_board__head_company {
  width: 200px;
  flex: 0 0 auto;
  margin-left: 10px;
  @media ($desktopBig) {
    width: 180px;
  }
}
.flight_board__head_desk {
  width: 110px;
  flex: 0 0 auto;
  margin-left: 10px;
}
.flight_board__head_status {
  width: 300px;
  flex: 0 0 auto;
  margin-left: 10px;
  @media ($desktopBig) {
    width: 220px;
  }
}
.flight_board__fact_time {
  width: 110px;
  flex: 0 0 auto;
  margin-left: 10px;
}
.flight_board__head_value {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #2D3F57;
}

.flight_board__flight {
  margin-bottom: 10px;
}
.flight_board__flight.flight {
  @media ($desktopBigMax) {
    padding: 15px 30px;
  }

  @media ($desktopMax) {
    padding: 15px 20px;
    display: flex;
  }
  @media ($tablet3) {
    padding: 10px 15px;
  }

  .flight__left {
    @media ($desktopBigMax) {
      margin-right: 80px;
    }
    @media ($desktopMax) {
      margin-right: 10px;
      flex: 0 0 auto;
      width: auto;
    }
  }
  .flight__time {
    @media ($desktopMax) {
      text-align: center;
    }
  }
  .flight__city {
    @media ($desktopBigMax) {
      width: 350px;
      margin-left: 40px;
    }
    @media ($desktopMax) {
      margin-left: 15px;
      font-weight: 700;
      width: 250px;
    }
  }
  .flight__right {
    @media ($desktopMax) {
      justify-content: space-between;
      margin-left: 0;
      width: auto;
      flex: 1 1 auto;
      margin-top: 0;
    }
  }
  .flight__num {
    @media ($desktopMax) {
      width: 110px;
    }
  }
  .flight__img_wr {
    @media ($desktopMax) {
      margin-left: 10px;
    }
  }
  .flight__company {
    @media ($desktopBigMax) {
      width: 200px;
    }

    @media ($desktopMax) {
      width: 180px;
      flex: 0 0 auto;
      text-align: center;
      margin-left: 10px;
    }
    @media ($desktop) {
      display: flex;
      align-items: center;
      width: auto;
      margin-left: 0;
      margin-top: 8px;
      text-align: left;
    }
  }
  .flight__desk {
    @media ($desktopMax) {
      width: 110px;
      margin-left: 10px;
    }
  }
  .flight__fact_time {
    @media ($desktopMax) {
      width: 110px;
      margin-left: 10px;
    }
  }
  .flight__status {
    @media ($desktopBigMax) {
      width: 300px;
    }

    @media ($desktopMax) {
      width: 220px;
      margin-left: 10px;
    }
  }
  .flight__value {
    @media ($desktopMax) {
      text-align: center;
    }
  }
  .flight__label {
    @media ($desktop) {
      width: calc(30% - 15px);
    }
    @media ($tablet3) {
      width: calc(50% - 15px);
    }
  }
  .flight__value {
    @media ($desktop) {
      width: 70%;
    }
    @media ($tablet3) {
      width: 50%;
    }

    &.this--img {
      width: 90px;
    }
  }
}
