
	<div class="container">
		<div class="main_airport__content">
			<h2 class="main_airport__title h2_title_line">Аэропорт Сургута</h2>
			<div class="main_airport__row">
				<div class="main_airport__left">
					<div class="main_airport__left_row">
						<a href="#" class="main_airport__link this--100">
							<div class="main_airport__link_top">
								<div class="main_airport__link_title">Схема аэропорта</div>
								<div class="main_airport__link_text">Аптеки, рестораны, залы отдыха</div>
							</div>
							<div class="main_airport__link_btn">
								Подробнее
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.20854 6.44015C3.79545 5.60609 4.64584 4.70955 5.50055 5.07803L20.5862 11.5817C21.3917 11.929 21.3917 13.071 20.5862 13.4183L5.50055 19.922C4.64584 20.2905 3.79545 19.3939 4.20854 18.5599L7.20982 12.5L4.20854 6.44015Z" fill="#2761D1"/>
								</svg>
							</div>
							<div class="main_airport__link_img">
								<img src="./img/main/main_airport/img_1.png" alt="">
							</div>
						</a>
						<a href="#" class="main_airport__link">
							<div class="main_airport__link_title">Онлайн-регистрация на рейс</div>
							<div class="main_airport__link_btn">
								Подробнее
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.20854 6.44015C3.79545 5.60609 4.64584 4.70955 5.50055 5.07803L20.5862 11.5817C21.3917 11.929 21.3917 13.071 20.5862 13.4183L5.50055 19.922C4.64584 20.2905 3.79545 19.3939 4.20854 18.5599L7.20982 12.5L4.20854 6.44015Z" fill="#2761D1"/>
								</svg>
							</div>
						</a>
						<a href="#" class="main_airport__link">
							<div class="main_airport__link_title">Электронный посадочный талон</div>
							<div class="main_airport__link_btn">
								Подробнее
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.20854 6.44015C3.79545 5.60609 4.64584 4.70955 5.50055 5.07803L20.5862 11.5817C21.3917 11.929 21.3917 13.071 20.5862 13.4183L5.50055 19.922C4.64584 20.2905 3.79545 19.3939 4.20854 18.5599L7.20982 12.5L4.20854 6.44015Z" fill="#2761D1"/>
								</svg>
							</div>
						</a>
						<a href="#" class="main_airport__link">
							<div class="main_airport__link_title">Расписание, график полетов</div>
							<div class="main_airport__link_btn">
								Подробнее
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.20854 6.44015C3.79545 5.60609 4.64584 4.70955 5.50055 5.07803L20.5862 11.5817C21.3917 11.929 21.3917 13.071 20.5862 13.4183L5.50055 19.922C4.64584 20.2905 3.79545 19.3939 4.20854 18.5599L7.20982 12.5L4.20854 6.44015Z" fill="#2761D1"/>
								</svg>
							</div>
						</a>
					</div>
				</div>
				<div class="main_airport__right">
					<a href="#" class="main_airport__link this--100 this--hover_img">
						<div class="main_airport__link_title">Табло рейсов</div>
						<div class="main_airport__link_btn">
							Подробнее
							<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.20854 6.44015C3.79545 5.60609 4.64584 4.70955 5.50055 5.07803L20.5862 11.5817C21.3917 11.929 21.3917 13.071 20.5862 13.4183L5.50055 19.922C4.64584 20.2905 3.79545 19.3939 4.20854 18.5599L7.20982 12.5L4.20854 6.44015Z" fill="#2761D1"/>
							</svg>
						</div>
						<div class="main_airport__link_img">
							<img src="./img/main/main_airport/img_2.png" alt="">
						</div>
						<div class="main_airport__link_bg_img">
							<img src="./img/main/main_airport/img_bg.png" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
