<section class="auc section this--alone">
	<div class="container">
		<div class="auc__content">
			<a href="#" class="auc__main_link">Дистанционное обучение<span></span></a>
			<div class="dividing_sample__links">
				<a href="#" class="dividing_sample__link this--50">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_1.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Контакты. Схема проезда
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--50">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_2.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Общие сведения. Структура. Педагогический состав
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--33">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_3.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Основные документы
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--33">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_4.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Вакантные места для обучения. Стипендии
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--33">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_5.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Образовательные программы
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--50">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_6.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Платные образовательные услуги
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--50">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_7.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Материально-техническое обеспечение
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--33">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_8.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Финансово-хозяйственная деятельность
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--33">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_9.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Фотоальбом
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--33">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_10.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Доступная среда
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--50">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_11.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Международное сотрудничество
							<span></span>
						</div>
					</div>
				</a>
				<a href="#" class="dividing_sample__link this--50">
					<div class="dividing_sample__link_img">
						<img src="./img/auc/img_12.jpg" alt="">
					</div>
					<div class="dividing_sample__link_text_wr">
						<div class="dividing_sample__link_text">
							Электронная библиотека
							<span></span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>