<div class="text_sample section this--alone online_registration">
	<div class="container">
		<section>
			<p>Онлайн-регистрация на рейс начинается не позднее чем за 24 часа до отправления воздушного судна по расписанию. О времени открытия регистрации вы можете узнать на сайте авиакомпании, услугами которой вы намерены воспользоваться.</p>
			<p>Чтобы зарегистрироваться в режиме онлайн, выберите свою авиакомпанию в представленном списке, перейдите на страницу перевозчика и заполните форму онлайн-регистрации. По завершении регистрации Вы получите электронный посадочный талон по электронной почте или на мобильный телефон.</p>
		</section>
		<section>
			<div class="online_registration__companies">
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_1.png" alt="">
					</div>
					<div class="online_registration__company_name">
						AzurAir
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_2.png" alt="">
					</div>
					<div class="online_registration__company_name">
						UTair
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_3.png" alt="">
					</div>
					<div class="online_registration__company_name">
						NordStar
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_4.png" alt="">
					</div>
					<div class="online_registration__company_name">
						NordWind
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_5.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Pegas
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_6.png" alt="">
					</div>
					<div class="online_registration__company_name">
						RedWings
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_7.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Rusline
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_8.png" alt="">
					</div>
					<div class="online_registration__company_name">
						S7
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_9.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Ангара
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_10.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Аэрофлот
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_11.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Иж авиа
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_12.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Россия
						<span></span>
					</div>
				</a>
				<a href="#" class="online_registration__company">
					<div class="online_registration__company_img">
						<img src="./img/online_registration/img_13.png" alt="">
					</div>
					<div class="online_registration__company_name">
						Ямал
						<span></span>
					</div>
				</a>
			</div>
		</section>
		<section>
			<p>Распечатать посадочный талон вы можете:</p>
			<ul>
				<li>на стойке регистрации в аэропорту;</li>
				<li>в киоске саморегистрации (для авиакомпаний "ЮТэйр", "Аэрофлот") — киоски расположены в зале вылета аэровокзала.</li>
				<li>на стойке «Мобильная Регистрация/Mobile Check-in» — киоск расположен в зале вылета аэровокзала.</li>
			</ul>
			<p>Для удобства зарегистрированных онлайн пассажиров внутренних рейсов, имеющих при себе багаж, в зале вылета аэровокзала имеется стойка оформления и приема багажа - Drop-off.</p>
		</section>
		<section>
			<div class="online_registration__scheme">
				<picture>
					<source media="(max-width: 768px)" srcset="./img/online_registration/scheme_mob.jpg">
					<source media="(min-width: 768.1px)" srcset="./img/online_registration/scheme.jpg">
					<img src="./img/online_registration/scheme.jpg" alt="">
				</picture>
			</div>
		</section>
		<section>
			<p>АО «Аэропорт Сургут» не несет ответственности за возможные сбои в работе внешних ресурсов, ошибках передаче данных, за использование ваших персональных данных на сторонних сайтах. В случае, если во время онлайн-регистрации возникли ошибки, пожалуйста, обратитесь на "горячую линию" авиакомпании.</p>
			<p>Если у вас возникают вопросы по регистрации через интернет, пожалуйста, уточните их в справочной службе или на сайте авиакомпании выполняющий рейс.</p>
		</section>
		<a href="#" class="online_registration__btn">Оффлайн-регистрация</a>
	</div>
</div>