<section class="hotel_service section">
	<div class="container">
		<div class="hotel_service__content">
			<h2 class="hotel_service__title">Комфортные условия, конфиденциальность и отличный сервис</h2>
			<div class="hotel_service__subtitle">Мы не рассказываем о качественном обслуживании гостей, мы просто это делаем. Ежедневно и всем составом персонала. Каждый из наших работников знает, что он должен делать, при этом качественно выполняет свою работу.</div>
			<div class="hotel_service__items">
				<div class="hotel_service__item">
					<div class="hotel_service__item_img">
						<img src="./img/hotel/service_1.png" alt="">
					</div>
					<div class="hotel_service__item_text">Мы смогли создать уютную зону для жизни всего в 300 метрах от аэропорта. Тихий парк, благоустроенная территория с местами парковки и отдыха позволят вам абстрагироваться от шума и суеты города, находясь в то же время недалеко от центра деловой жизни.</div>
				</div>
				<div class="hotel_service__item">
					<div class="hotel_service__item_img">
						<img src="./img/hotel/service_2.png" alt="">
					</div>
					<div class="hotel_service__item_text">Максимум 15 минут езды по хорошей дороге отделяет наших гостей от центра города. А отличная развязка транспорта позволяет сделать дорогу комфортной и необременительной.</div>
				</div>
				<div class="hotel_service__item">
					<div class="hotel_service__item_img">
						<img src="./img/hotel/service_3.png" alt="">
					</div>
					<div class="hotel_service__item_text">Безопасность – это тот показатель, которому мы придаем важное значение наравне с остальными. Это относится и к обеспечению правил противопожарной безопасности, и к личным обстоятельствам, и гарантированию сохранности багажа наших гостей.</div>
				</div>
			</div>
			<div class="hotel_service__bottom">
				<div class="hotel_service__bottom_left">
					<div class="hotel_service__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/service_slider_img.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/service_slider_img.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/service_slider_img.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hotel_service__bottom_right">
					<div class="hotel_service__bottom_text">Вместо тысячи слов... посмотрите наши фото</div>
				</div>
			</div>
		</div>
	</div>
</section>