<section class="main_news">
	<div class="container">
		<div class="main_news__content">
			<h2 class="main_news__title h2_title_line">
				Новости
				<a href="#" class="main_news__link this--desktop">
					Все новости
					<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#2D3F57"/>
					</svg>
				</a>
			</h2>
			<div class="main_news__items">
				<a href="#" class="main_news__item">
					<div class="main_news__item_date">14 февраля 2023 г.</div>
					<div class="main_news__item_text">Топ-5 лучших работников по версии пассажиров</div>
				</a>
				<a href="#" class="main_news__item">
					<div class="main_news__item_date">14 февраля 2023 г.</div>
					<div class="main_news__item_text">В Югре наградили лучших авиаторов</div>
				</a>
				<a href="#" class="main_news__item">
					<div class="main_news__item_date">13 февраля 2023 г.</div>
					<div class="main_news__item_text">Целевое обучение в высших учебных заведениях гражданской авиации на 2023 год</div>
				</a>
				<a href="#" class="main_news__item">
					<div class="main_news__item_date">9 февраля 2023 г.</div>
					<div class="main_news__item_text">100 лет отечественной гражданской авиации</div>
				</a>
			</div>
			<a href="#" class="main_news__link this--mobile">
				Все новости
				<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#2D3F57"/>
				</svg>
			</a>
		</div>
	</div>
</section>