<section class="main_branches">
	<div class="container">
		<div class="main_branches__content">
			<h2 class="main_branches__title h2_title_line">Филиалы</h2>
			<div class="main_banches__links">
				<div class="main_banches__links_left">
					<a href="#" class="main_banches__link">
						<span>Талакан</span>
						<img src="./img/main/main_branches/img_1.jpg" alt="">
					</a>
				</div>
				<div class="main_banches__links_right">
					<div class="main_banches__links_right_row">
						<a href="#" class="main_banches__link this--100">
							<span>Ноябрьск</span>
							<img src="./img/main/main_branches/img_2.jpg" alt="">
						</a>
						<a href="#" class="main_banches__link">
							<span>Берёзово</span>
							<img src="./img/main/main_branches/img_3.jpg" alt="">
						</a>
						<a href="#" class="main_banches__link">
							<span>Игрим</span>
							<img src="./img/main/main_branches/img_4.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>