.main_branches {
  background: #ffffff;
  padding-bottom: 150px;
  @media ($desktop) {
    padding-bottom: 100px;
  }
  @media ($tablet3) {
    padding-bottom: 60px;
  }

  &.this--main {
    padding: 0;
  }
}
.main_banches__links {
  margin-top: 60px;
  display: flex;
  margin-left: -30px;

  @media ($desktop) {
    margin-left: 0;
    display: block;
    margin-top: 40px;
  }
  @media ($tablet3) {
    margin-top: 20px;
  }
}
.main_banches__links_left {
  margin-left: 30px;
  width: calc(33.333% - 30px);

  @media ($desktop) {
    margin-left: 0;
    width: 100%;
  }
  .main_banches__link {
    height: 100%;
    @media ($desktop) {
      min-height: 300px;
    }
    @media ($tablet3) {
      min-height: 0;
    }
    span {
      color: #FFFFFF;
    }
  }
}
.main_banches__links_right {
  margin-left: 30px;
  width: calc(66.666% - 30px);

  @media ($desktop) {
    margin-left: 0;
    width: 100%;
    margin-top: 30px;
  }
  @media ($tablet3) {
    margin-top: 10px;
  }
}
.main_banches__links_right_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;

  @media ($tablet3) {
    margin-left: 0;
    display: block;
    margin-bottom: -10px;
  }

  .main_banches__link {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(50% - 30px);
    min-height: 345px;

    @media ($desktop) {
      min-height: 300px;
    }
    @media ($tablet3) {
      min-height: 0;
      width: 100%;
      margin-left: 0;
      margin-bottom: 10px;
    }

    &.this--100 {
      width: calc(100% - 30px);
      min-height: 375px;
      @media ($desktop) {
        min-height: 300px;
      }
      @media ($tablet3) {
        min-height: 0;
        width: 100%;
        margin-left: 0;
      }
      span {
        color: #FFFFFF;
      }
    }
  }
}
.main_banches__link {
  display: block;
  position: relative;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(37, 59, 71, 0.05);
  border-radius: 10px;
  overflow: hidden;

  @media ($tablet3) {
    padding: 50.675% 0 0 0;
  }

  &:hover {
    @media ($desktopSmallMax) {
      img {
        transform: scale(1.04);
      }
    }
  }

  span {
    position: relative;
    z-index: 2;
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    text-transform: uppercase;
    color: #2D3F57;

    @media ($desktop) {
      font-size: 36px;
    }
    @media ($tablet3) {
      font-size: 20px;
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    @media ($desktop) {
      object-position: bottom;
    }
  }
}