<div class="container">
	<div class="main_branches__content">
		<h2 class="main_branches__title h2_title_line">Филиалы</h2>
		<div class="main_banches__links">
			<div class="main_banches__links_left">
				<a href="#" class="main_banches__link">
					<span>Талакан</span>
					<picture>
						<source media="(max-width: 1200px)" srcset="./img/main/main_branches/img_1_mob.jpg">
						<source media="(min-width: 1200.1px)" srcset="./img/main/main_branches/img_1.jpg">
						<img src="./img/main/main_branches/img_1.jpg" alt="">
					</picture>
				</a>
			</div>
			<div class="main_banches__links_right">
				<div class="main_banches__links_right_row">
					<a href="#" class="main_banches__link this--100">
						<span>Ноябрьск</span>
						<picture>
							<source media="(max-width: 1200px)" srcset="./img/main/main_branches/img_2_mob.jpg">
							<source media="(min-width: 1200.1px)" srcset="./img/main/main_branches/img_2.jpg">
							<img src="./img/main/main_branches/img_2.jpg" alt="">
						</picture>
					</a>
					<a href="#" class="main_banches__link">
						<span>Берёзово</span>
						<picture>
							<source media="(max-width: 1200px)" srcset="./img/main/main_branches/img_3_mob.jpg">
							<source media="(min-width: 1200.1px)" srcset="./img/main/main_branches/img_3.jpg">
							<img src="./img/main/main_branches/img_3.jpg" alt="">
						</picture>
					</a>
					<a href="#" class="main_banches__link">
						<span>Игрим</span>
						<picture>
							<source media="(max-width: 1200px)" srcset="./img/main/main_branches/img_4_mob.jpg">
							<source media="(min-width: 1200.1px)" srcset="./img/main/main_branches/img_4.jpg">
							<img src="./img/main/main_branches/img_4.jpg" alt="">
						</picture>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
