<section class="hotel_rooms section js_hotel_rooms">
	<div class="container">
		<div class="hotel_rooms__content">
			<h2 class="hotel_rooms__title">Номера</h2>
			<div class="hotel_rooms__items">
				<div class="hotel_rooms__item">
					<div class="hotel_rooms__special">
						Акция 6/12/24
					</div>
					<div class="hotel_rooms__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_1.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_1.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="hotel_rooms__item_bottom">
						<div class="hotel_rooms__item_for">Для одиноких странников</div>
						<div class="hotel_rooms__item_row">
							<div class="hotel_rooms__item_title">Одноместный</div>
							<div class="hotel_rooms__item_price">1500 ₽/сутки</div>
						</div>
						<div class="hotel_rooms__item_text">1 комната 9 м2, кровать 80×190 см, телевизор, двухстворчатый шкаф</div>
					</a>
				</div>
				<div class="hotel_rooms__item">
					<div class="hotel_rooms__special">
						Акция 6/12/24
					</div>
					<div class="hotel_rooms__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_2.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_2.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_2.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="hotel_rooms__item_bottom">
						<div class="hotel_rooms__item_for">До двух гостей</div>
						<div class="hotel_rooms__item_row">
							<div class="hotel_rooms__item_title">Двухместный</div>
							<div class="hotel_rooms__item_price">1500 ₽/сутки</div>
						</div>
						<div class="hotel_rooms__item_text">1 комната 9 м2, кровать 80×190 см, телевизор, двухстворчатый шкаф</div>
					</a>
				</div>
				<div class="hotel_rooms__item">
					<div class="hotel_rooms__special">
						Акция 6/12/24
					</div>
					<div class="hotel_rooms__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_3.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_3.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_3.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="hotel_rooms__item_bottom">
						<div class="hotel_rooms__item_for">До двух гостей</div>
						<div class="hotel_rooms__item_row">
							<div class="hotel_rooms__item_title">Полулюкс</div>
							<div class="hotel_rooms__item_price">1500 ₽/сутки</div>
						</div>
						<div class="hotel_rooms__item_text">1 комната 9 м2, кровать 80×190 см, телевизор, двухстворчатый шкаф</div>
					</a>
				</div>
				<div class="hotel_rooms__item">
					<div class="hotel_rooms__special">
						Акция 6/12/24
					</div>
					<div class="hotel_rooms__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_4.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_4.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_4.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="hotel_rooms__item_bottom">
						<div class="hotel_rooms__item_for">Для сильных, успешных и тех, кто хочет добиться максимума</div>
						<div class="hotel_rooms__item_row">
							<div class="hotel_rooms__item_title">Люкс</div>
							<div class="hotel_rooms__item_price">1500 ₽/сутки</div>
						</div>
						<div class="hotel_rooms__item_text">1 комната 9 м2, кровать 80×190 см, телевизор, двухстворчатый шкаф</div>
					</a>
				</div>
				<div class="hotel_rooms__item">
					<div class="hotel_rooms__special">
						Акция 6/12/24
					</div>
					<div class="hotel_rooms__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_5.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_5.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_5.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="hotel_rooms__item_bottom">
						<div class="hotel_rooms__item_for">До четырех гостей</div>
						<div class="hotel_rooms__item_row">
							<div class="hotel_rooms__item_title">Любимый</div>
							<div class="hotel_rooms__item_price">1500 ₽/сутки</div>
						</div>
						<div class="hotel_rooms__item_text">1 комната 9 м2, кровать 80×190 см, телевизор, двухстворчатый шкаф</div>
					</a>
				</div>
				<div class="hotel_rooms__item">
					<div class="hotel_rooms__special">
						Акция 6/12/24
					</div>
					<div class="hotel_rooms__slider text_sample__slider swiper-container js_slider">
						<div class="text_sample__slider_prev"></div>
						<div class="text_sample__slider_next"></div>
						<div class="text_sample__slider_pagination pagination_bullets"></div>
						<div class="text_sample__slider_wrapper swiper-wrapper">
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_6.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_6.jpg" alt="">
								</div>
							</div>
							<div class="text_sample__slider_slide swiper-slide">
								<div class="text_sample__slider_img">
									<img src="./img/hotel/rooms_6.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="hotel_rooms__item_bottom">
						<div class="hotel_rooms__item_for">До четырех гостей</div>
						<div class="hotel_rooms__item_row">
							<div class="hotel_rooms__item_title">Семейный</div>
							<div class="hotel_rooms__item_price">1500 ₽/сутки</div>
						</div>
						<div class="hotel_rooms__item_text">1 комната 9 м2, кровать 80×190 см, телевизор, двухстворчатый шкаф</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>