<section class="main_partners">
	<div class="container">
		<div class="main_partners__content">
			<div class="main_partners__slider_prev">
				<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#416FEF"/>
				</svg>
			</div>
			<div class="main_partners__slider_next">
				<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#416FEF"/>
				</svg>
			</div>
			<div class="main_partners__slider_pagination pagination_bullets"></div>
			<div class="main_partners__slider swiper-container js_main_partners_slider">
				<div class="main_partners__slider_wrapper swiper-wrapper">
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_1.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_2.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_3.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_4.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_5.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_6.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_7.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_1.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_2.jpg" alt="">
						</div>
					</div>
					<div class="main_partners__slider_slide swiper-slide">
						<div class="main_partners__slider_img">
							<img src="./img/main/main_partners/img_3.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>