.download_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  background: #FFFFFF;
  border: 1px solid #E9EBED;
  border-radius: 5px;
  padding: 15px;
  transition: background 0.25s;

  @media ($tablet3) {
    min-height: 130px;
  }

  &:hover {
    @media ($desktopSmallMax) {
      background: #416FEF;
      .download_link__name,
      .download_link__weight {
        color: #ffffff;
      }
      .download_link__icon {
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
  &:focus {
    background: #416FEF;
    .download_link__name,
    .download_link__weight {
      color: #ffffff;
    }
    .download_link__icon {
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }
  &:active {
    background: #264D83!important;
  }
}
.download_link__top {
  display: flex;
  justify-content: space-between;
}
.download_link__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #2D3F57;
  margin-left: 5px;
  transition: color 0.25s;

  @media ($tablet3) {
    font-size: 13px;
    line-height: 20px;
  }
}
.download_link__img {
  width: 36px;
  height: 36px;
  flex: 0 0 auto;
  background: url('../img/icons/PDF.png') center / contain no-repeat;
  margin-left: 60px;
}
.download_link__bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download_link__icon {
  flex: 0 0 auto;
  width: 23px;
  height: 23px;

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: fill 0.25s;
    }
  }
}
.download_link__weight {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(66, 92, 127, 0.6);
  transition: color 0.25s;
}