.page_top {
  padding: 40px 0 30px;

  @media ($tablet3) {
    padding: 20px 0 0 0;
  }
}
.page_top__title {
  margin-top: 15px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 120%;
  color: #264D83;

  @media ($desktopSmall) {
    font-size: 50px;
  }
  @media ($tablet3) {
    margin-top: 20px;
    font-size: 24px;
    line-height: 135%;
  }

  &.this--center {
    text-align: center;
    @media ($tablet3) {
      text-align: left;
    }
  }
}