<section class="hotel_top">
	<div class="container">
		<div class="hotel_top__content">
			<div class="hotel_top__logo">
				<img src="./img/hotel/hotel_top__logo.png" alt="">
			</div>
			<h1 class="hotel_top__title">Добро пожаловать в гостиницу «Полёт»!</h1>
			<div class="hotel_top__bottom">
				<div class="hotel_top__text">
					Возвращаться - хорошая примета.
				</div>
				<button class="hotel_top__btn main_top__btn js_scroll_hotel_btn">
					<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.5599 4.70854C19.3939 4.29545 20.2905 5.14584 19.922 6.00055L13.4183 21.0862C13.071 21.8917 11.929 21.8917 11.5817 21.0862L5.07803 6.00055C4.70955 5.14584 5.60609 4.29545 6.44014 4.70854L12.5 7.70982L18.5599 4.70854Z" fill="white"/>
					</svg>
					Смотреть номера
				</button>
			</div>
		</div>
	</div>
</section>