<section class="hotel_detail">
		<div class="hotel_detail__content">
			<div class="container">
				<div class="hotel_detail__top">
					<a href="#" class="hotel_detail__back_link">Назад к номерам</a>
					<h1 class="hotel_detail__title">Одноместный</h1>
					<div class="hotel_detail__subtitle">Небольшое описание в пару слов</div>
				</div>
			</div>
			<div class="hotel_detail__slider hotel_detail_slider swiper-container">
				<div class="hotel_detail_slider__prev"></div>
				<div class="hotel_detail_slider__next"></div>
				<div class="hotel_detail_slider__pagination pagination_bullets"></div>
				<div class="hotel_detail_slider__wrapper swiper-wrapper">
					<div class="hotel_detail_slider__slide hotel_detail_slide swiper-slide">
						<div class="hotel_detail_slide__img">
							<img src="./img/hotel/hotel_detail/slider_3.jpg" alt="">
						</div>
					</div>
					<div class="hotel_detail_slider__slide hotel_detail_slide swiper-slide">
						<div class="hotel_detail_slide__img">
							<img src="./img/hotel/hotel_detail/slider_1.jpg" alt="">
						</div>
					</div>
					<div class="hotel_detail_slider__slide hotel_detail_slide swiper-slide">
						<div class="hotel_detail_slide__img">
							<img src="./img/hotel/hotel_detail/slider_2.jpg" alt="">
						</div>
					</div>
					<div class="hotel_detail_slider__slide hotel_detail_slide swiper-slide">
						<div class="hotel_detail_slide__img">
							<img src="./img/hotel/hotel_detail/slider_3.jpg" alt="">
						</div>
					</div>
					<div class="hotel_detail_slider__slide hotel_detail_slide swiper-slide">
						<div class="hotel_detail_slide__img">
							<img src="./img/hotel/hotel_detail/slider_1.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="hotel_detail__row">
					<div class="hotel_detail__left">
						<div class="hotel_detail__left_info_items">
							<div class="hotel_detail__left_info_item">
								<span>Стоимость</span>
								<span>1500 ₽/сутки</span>
							</div>
							<div class="hotel_detail__left_info_item">
								<span>Дата заезда</span>
								<span>4.04.2023</span>
							</div>
							<div class="hotel_detail__left_info_item">
								<span>Кол-во человек</span>
								<span>1-2</span>
							</div>
						</div>
						<div class="hotel_detail__special">
							Акция 6/12/24!
						</div>
						<div class="hotel_detail__price">
							<div class="hotel_detail__price_text">
								Гостиница по цене хостела: удобная система тарифов с индивидуальным расчётом часов
							</div>
							<div class="hotel_detail__price_items">
								<div class="hotel_detail__price_item">
									<span>6 часов</span>
									<span>от 1000 ₽</span>
								</div>
								<div class="hotel_detail__price_item">
									<span>12 часов</span>
									<span>от 1500 ₽</span>
								</div>
								<div class="hotel_detail__price_item">
									<span>24 часа</span>
									<span>от 2000 ₽</span>
								</div>
								<div class="hotel_detail__price_item">
									<span>Доп. завтрак</span>
									<span>+210 ₽</span>
								</div>
							</div>
						</div>
						<div class="hotel_detail__order">
							<div class="hotel_detail__order_form order_form js_order_content" data-content="form">
								<h3 class="order_form__title">Оставить заявку на бронирование</h3>
								<form action="#" class="order_form__form js_order_form" name="order_form">
									<div class="order_form__inputs">
										<div class="order_form__input_wr">
											<span class="order_form__input_placeholder">Имя*</span>
											<input type="text" class="order_form__input js_order_form_input js_order_form_input_required" name="name">
											<span class="order_form__error_message"></span>
										</div>
										<div class="order_form__input_wr">
											<span class="order_form__input_placeholder">Телефон*</span>
											<input type="tel" class="order_form__input js_order_form_input js_order_form_input_required js_tel_mask" name="phone">
											<span class="order_form__error_message"></span>
										</div>
										<div class="order_form__input_wr">
											<input type="submit" value="Оставить заявку" class="order_form__form_submit">
										</div>
									</div>
									<div class="order_form__agree">Нажимая на кнопку “Отправить”, вы соглашаетесь с <a href="#">Политикой конфиденциальности</a></div>
								</form>
							</div>
							<div class="hotel_detail__order_thanks order_thanks js_order_content active" data-content="thanks">
								<h3 class="order_thanks__title">Спасибо за заявку!</h3>
								<div class="order_thanks__text">Наш менеджер свяжется с Вами в ближайшее время</div>
								<button class="order_thanks__btn thanks__btn this--transparent js_order_thanks_btn">Оставить еще заявку</button>
							</div>
						</div>
					</div>
					<div class="hotel_detail__right">
						<h3 class="hotel_detail__right_title">Удобства</h3>
						<div class="hotel_detail__right_items">
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Комнат</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Письм. стол с фригобаром</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>2</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Площадь номера, м2</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>9</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Стул</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>9</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Макс. кол-во гостей</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Зеркало</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Кровать 80×190 см</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Телевизор</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Двухстворчатый шкаф</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Телефон</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Подставка под чемоданы</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Фен</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Прикроватная тумба</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Полотенца</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>4</span>
								</div>
							</div>
							<div class="hotel_detail__right_item">
								<div class="hotel_detail__right_item_label">
									<span>Прикроватный светильник</span>
								</div>
								<span class="hotel_detail__right_item_line"></span>
								<div class="hotel_detail__right_item_value">
									<span>1</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>