<section class="hotel_contacts">
	<div class="hotel_contacts__content">
		<div class="hotel_contacts__info">
			<h2 class="hotel_contacts__title">Контакты</h2>
			<div class="hotel_contacts__items">
				<div class="hotel_contacts__item">
					<div class="hotel_contacts__item_top">Телефоны</div>
					<a href="tel:+73462770160" class="hotel_contacts__item_phone">+7 (3462) 770-160</a>
					<a href="tel:+73462770280" class="hotel_contacts__item_phone">+7 (3462) 770-280</a>
				</div>
				<div class="hotel_contacts__item">
					<div class="hotel_contacts__item_top">Электронная почта</div>
					<a href="mailto:poletservice@mail.ru" class="hotel_contacts__item_mail">poletservice@mail.ru</a>
				</div>
				<div class="hotel_contacts__item">
					<div class="hotel_contacts__item_top">Адрес</div>
					<div class="hotel_contacts__item_address">628422, Тюменская область, Ханты-Мансийский АО, г. Сургут, ул. Аэрофлотская, д. 49</div>
				</div>
				<div class="hotel_contacts__item">
					<div class="hotel_contacts__item_top">Способы оплаты</div>
					<div class="hotel_contacts__item_pay_row">
						<img src="./img/hotel/pay_1.png" alt="">
						<img src="./img/hotel/pay_2.png" alt="">
						<img src="./img/hotel/pay_3.png" alt="">
						<img src="./img/hotel/pay_4.png" alt="">
						<img src="./img/hotel/pay_5.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="hotel_contacts__map" id="hotel_map"></div>
	</div>
</section>