<section class="dividing_sample">
	<div class="container">
		<div class="dividing_sample__links">
			<a href="#" class="dividing_sample__link this--50">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Онлайн-табло
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--50">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Схема аэропорта
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--33">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Онлайн-табло
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--66">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Схема аэропорта
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--66">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Схема аэропорта
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--33">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Онлайн-табло
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--33">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Схема аэропорта
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--33">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Схема аэропорта
						<span></span>
					</div>
				</div>
			</a>
			<a href="#" class="dividing_sample__link this--33">
				<div class="dividing_sample__link_img">
					<img src="./img/dividing_sample/img.jpg" alt="">
				</div>
				<div class="dividing_sample__link_text_wr">
					<div class="dividing_sample__link_text">
						Онлайн-табло
						<span></span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>