<section class="flight_board section this--alone">
	<div class="container">
		<div class="flight_board__content">
			<div class="flight_board__top">
				<div class="flight_board__top_left">
					<a href="#" class="flight_board__link">Вылет</a>
					<a href="#" class="flight_board__link active">Прибытие</a>
				</div>
				<div class="flight_board__top_right">
					<a href="#" class="flight_board__right_link">Вчера</a>
					<a href="#" class="flight_board__right_link active">Cегодня</a>
					<a href="#" class="flight_board__right_link">Завтра</a>
				</div>
			</div>
			<div class="flight_board__flights js_flight_accordion_group">
				<div class="flight_board__head">
					<div class="flight_board__head_left">
						<div class="flight_board__head_time">
							Время
						</div>
						<div class="flight_board__head_city">
							Направление
						</div>
					</div>
					<div class="flight_board__head_right">
						<div class="flight_board__head_num">
							<div class="flight_board__head_value">Рейс</div>
						</div>
						<div class="flight_board__head_logo">
							<div class="flight_board__head_value">Лого</div>
						</div>
						<div class="flight_board__head_company">
							<div class="flight_board__head_value">Авиакомпания</div>
						</div>
						<div class="flight_board__head_status">
							<div class="flight_board__head_value">Статус</div>
						</div>
						<div class="flight_board__fact_time">
							<div class="flight_board__head_value">Время факт.</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head active">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body opened">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Уфа</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">В пути <p>Ожидается в 12:05</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_2.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Россия</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка</div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Вылетел<p>в 14:00</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Вылетел<p>в 14:00</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">В пути</div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">В пути</div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
				<div class="flight_board__flight flight">
					<div class="flight__left js_flight_accordion_head">
						<div class="flight__time">11:40</div>
						<div class="flight__city">Калининград</div>
						<div class="flight__arrow"></div>
					</div>
					<div class="flight__right js_flight_accordion_body">
						<div class="flight__num">
							<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
						</div>
						<div class="flight__img_wr">
							<div class="flight__label"></div>
							<div class="flight__value this--img">
								<img src="./img/main/main_online/flight_1.png" alt="">
							</div>
						</div>
						<div class="flight__company">
							<div class="flight__label">Авиакомпания</div>
							<div class="flight__value">Победа</div>
						</div>
						<div class="flight__status">
							<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
						</div>
						<div class="flight__fact_time">
							<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>