<section class="vacancies section this--alone">
	<div class="container">
		<div class="vacancies__content">
			<div class="vacancies__top">
				<div class="vacancies__text">
					Официальная дата образования открытого акционерного общества «Аэропорт Сургут» как самостоятельного юридического лица – 7 февраля 1994 года. Учредителями нового предприятия стали администрация города Сургута, АООТ «Сургутнефтегаз», АООТ «Сургутгазпром», АООТ АК «Тюменьавиатранс», АООТ «Тюменьэнерго», Дочернее акционерное общество Сургутский газоперерабатывающий завод, АОЗТ авиакомпания «Когалымавиа». Сейчас «Аэропорт Сургут» - крупнейшее предприятие в регионе, имеющее статус ведущего аэропорта в регионе, на протяжении нескольких лет. Стабильно «Аэропорт Сургут» занимает 13-14 место по производственным показателям в России среди аэропортов.
				</div>
				<a href="#" class="vacancies__download_link download_link" download>
					<div class="download_link__top">
						<span class="download_link__name">Анкета соискателя на должность в АО “Аэропорт Сургут”</span>
						<span class="download_link__img"></span>
					</div>
					<div class="download_link__bottom">
							<span class="download_link__icon">
								<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M1.6432 12.3306C2.49003 12.3306 3.17653 13.0171 3.17653 13.8639V18.975H19.8241V13.8639C19.8241 13.0171 20.5106 12.3306 21.3575 12.3306C22.2043 12.3306 22.8908 13.0171 22.8908 13.8639V20.5083C22.8908 21.3552 22.2043 22.0417 21.3575 22.0417H1.6432C0.79636 22.0417 0.109863 21.3552 0.109863 20.5083V13.8639C0.109863 13.0171 0.79636 12.3306 1.6432 12.3306Z" fill="#252525"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5001 1.66064C12.347 1.66064 13.0335 2.34714 13.0335 3.19398V13.9912C13.0335 14.838 12.347 15.5245 11.5001 15.5245C10.6533 15.5245 9.9668 14.838 9.9668 13.9912V3.19398C9.9668 2.34714 10.6533 1.66064 11.5001 1.66064Z" fill="#252525"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.49222 8.74928C6.09432 8.1538 7.06516 8.15916 7.66065 8.76126L11.499 12.6423L15.3374 8.76126C15.9329 8.15916 16.9037 8.1538 17.5058 8.74928C18.1079 9.34477 18.1133 10.3156 17.5178 10.9177L12.5892 15.901C12.3012 16.1923 11.9086 16.3562 11.499 16.3562C11.0894 16.3562 10.6968 16.1923 10.4088 15.901L5.48024 10.9177C4.88475 10.3156 4.89012 9.34477 5.49222 8.74928Z" fill="#252525"/>
								</svg>
							</span>
						<span class="download_link__weight">31.4 Мб</span>
					</div>
				</a>
			</div>
			<div class="vacancies__items this--mt60">
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Специалист по продажам 1 категории отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
			</div>
			<h2 class="vacancies__title_h2">Директор по наземному обслуживанию</h2>
			<h3 class="vacancies__title_h3">Служба информационных технологий / Отдел связи</h3>
			<div class="vacancies__items">
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
			</div>
			<h3 class="vacancies__title_h3">Служба информационных технологий / Отдел технической поддержки</h3>
			<div class="vacancies__items">
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Сменный инженер 2 категории</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Системный администратор</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
				<a href="#" class="vacancies__item">
					<div class="vacancies__item_title">Буфетчик отдела реализации службы авиационного кейтеринга</div>
					<div class="vacancies__item_group">
						<div class="vacancies__item_salary">от 45 000 ₽</div>
						<div class="vacancies__item_btn">Подробнее</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>