<section class="main_top this--404">
	<div class="main_top__bg">
		<video src="./video/main_bg.mp4" muted autoplay loop></video>
	</div>
	<div class="container">
		<div class="page_404__content">
			<div class="page_404__body">
				<h1 class="page_404__title">Извините,<br> страницы с таким адресом не существует</h1>
				<a href="#" class="page_404__link">Вернуться на предыдущую страницу</a>
				<div class="page_404__text">Ниже для вас мы оставили карту сайта</div>
			</div>
			<div class="page_404__img">
				<img src="./img/page_404/img_404.png" alt="">
			</div>
		</div>
	</div>
</section>