<section class="main_online">
	<div class="container">
		<div class="main_online__content">
			<div class="main_online__head_row">
				<div class="main_online__head_left">
					<h2 class="main_online__head_title">Онлайн-табло аэропорта Сургут</h2>
					<div class="main_online__head_group">
						<div class="main_online__head_tabs">
							<a href="#" class="main_online__head_tab active js_tab_online" data-tab="departure">Вылет</a>
							<a href="#" class="main_online__head_tab js_tab_online" data-tab="arrival">Прибытие</a>
						</div>
						<a href="#" class="main_online__head_link">Флайтрадар</a>
					</div>
				</div>
				<div class="main_online__head_right">
					<div class="main_online__head_info">
						<div class="main_online__head_weather">
							<span class="main_online__head_weather_value">-9°</span>
							<span class="main_online__head_weather_icon this--cloud"></span>
						</div>
						<div class="main_online__head_time this--surgut js_time">00:00</div>
						<div class="main_online__head_time_label">СУРГУТ</div>
					</div>
					<div class="main_online__head_info">
						<div class="main_online__head_weather">
							<span class="main_online__head_weather_value">-1°</span>
							<span class="main_online__head_weather_icon this--cloud"></span>
						</div>
						<div class="main_online__head_time this--moscow js_time">00:00</div>
						<div class="main_online__head_time_label">МОСКВА</div>
					</div>
					<div class="main_online__head_info">
						<div class="main_online__head_weather">
							<span class="main_online__head_weather_value">+4°</span>
							<span class="main_online__head_weather_icon this--cloud"></span>
						</div>
						<div class="main_online__head_time this--london js_time">00:00</div>
						<div class="main_online__head_time_label">ЛОНДОН</div>
					</div>
				</div>
			</div>
			<div class="main_online__flights">
				<div class="main_online__tab_body active js_tab_body_online js_flight_accordion_group" data-tab="departure">
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head active">
							<div class="flight__time">11:40</div>
							<div class="flight__city">Калининград</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body opened">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 2</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Регистрация</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">12:18</div>
							<div class="flight__city">Баку</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_2.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 4</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Москва (SVO)</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_3.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 2</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">В пути <p>Ожидается в 12:05</p></div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Новосибирск (Толмачёво) <span>></span> Красноярск <span>></span> иркутск</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_4.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 6</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Алматы</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_2.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 2</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Вылетел в 14:00</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Калининград</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 2</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Калининград</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_4.png" alt="">
								</div>
							</div>
							<div class="flight__desk">
								<div class="flight__label">Стойка</div><div class="flight__value">Стойка 2</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main_online__tab_body js_tab_body_online js_flight_accordion_group" data-tab="arrival">
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head active">
							<div class="flight__time">11:40</div>
							<div class="flight__city">Калининград</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body opened">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Регистрация</div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">12:18</div>
							<div class="flight__city">Баку</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_2.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Задержка <p>до 00:00 07/12/24</p></div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Москва (SVO)</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_3.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">В пути <p>Ожидается в 12:05</p></div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Новосибирск (Толмачёво) <span>></span> Красноярск <span>></span> иркутск</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_4.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Алматы</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_2.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Вылетел в 14:00</div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Калининград</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_1.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
					<div class="main_online__flight flight">
						<div class="flight__left js_flight_accordion_head">
							<div class="flight__time">13:45</div>
							<div class="flight__city">Калининград</div>
							<div class="flight__arrow"></div>
						</div>
						<div class="flight__right js_flight_accordion_body">
							<div class="flight__num">
								<div class="flight__label">Рейс</div><div class="flight__value">FG 0395</div>
							</div>
							<div class="flight__img_wr">
								<div class="flight__label">Авиакомпания</div>
								<div class="flight__value this--img">
									<img src="./img/main/main_online/flight_4.png" alt="">
								</div>
							</div>
							<div class="flight__status">
								<div class="flight__label">Статус</div><div class="flight__value">Посадка</div>
							</div>
							<div class="flight__fact_time">
								<div class="flight__label">Время факт.</div><div class="flight__value">11:40</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="main_online__flight_link">
					Табло 24 часа
					<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#DB1E35"/>
					</svg>
				</a>
			</div>
			<div class="main_online__attentions js_attentions">
				<div class="main_online__attentions_body this--fixed js_attentions_body">
					<div class="main_online__attention attention">
						<div class="attention__top js_attention_accordion_head active">
							<div class="attention__title">Внимание!</div>
							<div class="attention__btn"><span class="attention__btn_text js_attention_btn_text">Развернуть</span> <span class="attention__btn_arrow"></span></div>
						</div>
						<div class="attention__bottom js_attention_accordion_body opened">
							<div class="attention__img">
								<img src="./img/main/main_online/attention_img.jpg" alt="">
							</div>
							<div class="attention__text">Полет рейса GT456 откладывается на 2 часа</div>
						</div>
					</div>
					<div class="main_online__attention attention">
						<div class="attention__top js_attention_accordion_head">
							<div class="attention__title">Внимание!</div>
							<div class="attention__btn"><span class="attention__btn_text js_attention_btn_text">Развернуть</span> <span class="attention__btn_arrow"></span></div>
						</div>
						<div class="attention__bottom js_attention_accordion_body">
							<div class="attention__img">
								<img src="./img/main/main_online/attention_img.jpg" alt="">
							</div>
							<div class="attention__text">Полет рейса GT456 откладывается на 2 часа</div>
						</div>
					</div>
					<div class="main_online__attention attention">
						<div class="attention__top js_attention_accordion_head">
							<div class="attention__title">Внимание!</div>
							<div class="attention__btn"><span class="attention__btn_text js_attention_btn_text">Развернуть</span> <span class="attention__btn_arrow"></span></div>
						</div>
						<div class="attention__bottom js_attention_accordion_body">
							<div class="attention__img">
								<img src="./img/main/main_online/attention_img.jpg" alt="">
							</div>
							<div class="attention__text">Полет рейса GT456 откладывается на 2 часа</div>
						</div>
					</div>
					<div class="main_online__attention attention">
						<div class="attention__top js_attention_accordion_head">
							<div class="attention__title">Внимание!</div>
							<div class="attention__btn"><span class="attention__btn_text js_attention_btn_text">Развернуть</span> <span class="attention__btn_arrow"></span></div>
						</div>
						<div class="attention__bottom js_attention_accordion_body">
							<div class="attention__img">
								<img src="./img/main/main_online/attention_img.jpg" alt="">
							</div>
							<div class="attention__text">Полет рейса GT456 откладывается на 2 часа</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
