<section class="main_about section">
	<div class="container">
		<div class="main_about__content">
			<h2 class="main_about__title h2_title_line">Об аэропорте</h2>
			<div class="main_about__slider_box">
				<div class="main_about__slider_prev">
					<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#416FEF"/>
					</svg>
				</div>
				<div class="main_about__slider_next">
					<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.20854 6.94015C3.79545 6.10609 4.64584 5.20955 5.50055 5.57803L20.5862 12.0817C21.3917 12.429 21.3917 13.571 20.5862 13.9183L5.50055 20.422C4.64584 20.7905 3.79545 19.8939 4.20854 19.0599L7.20982 13L4.20854 6.94015Z" fill="#416FEF"/>
					</svg>
				</div>
				<div class="main_about__slider_pagination pagination_bullets"></div>
				<div class="main_about__slider swiper-container js_main_about_slider">
					<div class="main_about__slider_wrapper swiper-wrapper">
						<div class="main_about__slider_slide main_about_slide swiper-slide">
							<a href="#" class="main_about_slide__body">
								<div class="main_about_slide__num">01</div>
								<div class="main_about_slide__content">
									<ul>
										<li>Перечень услуг в аэропорту</li>
										<li>Перечень существенных условий заключаемых договоров</li>
										<li>Порядок оказания услуг в условиях ограниченной технической возможности</li>
										<li>Нормативы пропускной способности</li>
										<li>Цены (тарифы, сборы) на услуги</li>
										<li>Реестр заявок</li>
										<li>Сведения о технической возможности</li>
										<li>Сведения о структуре издержек на содержание объектов инфраструктуры</li>
										<li>Решение об установлении приаэродромной территории аэродрома</li>
									</ul>
									<img src="./img/main/main_about/img_1.jpg" alt="">
								</div>
								<div class="main_about_slide__text">Авиакомпаниям</div>
							</a>
						</div>
						<div class="main_about__slider_slide main_about_slide swiper-slide">
							<a href="#" class="main_about_slide__body">
								<div class="main_about_slide__num">02</div>
								<div class="main_about_slide__content">
									<ul>
										<li>Коворкинг-центр</li>
										<li>Бизнес-зал</li>
										<li>Камера хранения</li>
										<li>Ресторан</li>
										<li>Душевые</li>
										<li>Упаковка багажа</li>
										<li>Комната матери и ребёнка</li>
										<li>Залы повышенной комфортности</li>
										<li>Оформление опоздавшего пассажира</li>
										<li>Авиакассы</li>
									</ul>
									<img src="./img/main/main_about/img_2.jpg" alt="">
								</div>
								<div class="main_about_slide__text">Услуги</div>
							</a>
						</div>
						<div class="main_about__slider_slide main_about_slide swiper-slide">
							<a href="#" class="main_about_slide__body">
								<div class="main_about_slide__num">03</div>
								<div class="main_about_slide__content">
									<ul>
										<li>Коворкинг-центр</li>
										<li>Бизнес-зал</li>
										<li>Камера хранения</li>
										<li>Ресторан</li>
										<li>Душевые</li>
										<li>Упаковка багажа</li>
										<li>Комната матери и ребёнка</li>
										<li>Залы повышенной комфортности</li>
										<li>Оформление опоздавшего пассажира</li>
										<li>Авиакассы</li>
									</ul>
									<img src="./img/main/main_about/img_3.jpg" alt="">
								</div>
								<div class="main_about_slide__text">Безопасность полётов</div>
							</a>
						</div>
						<div class="main_about__slider_slide main_about_slide swiper-slide">
							<a href="#" class="main_about_slide__body">
								<div class="main_about_slide__num">04</div>
								<div class="main_about_slide__content">
									<ul>
										<li>карта 2ГИС, международные автобусы, городские автобусы</li>
									</ul>
									<img src="./img/main/main_about/img_4.jpg" alt="">
								</div>
								<div class="main_about_slide__text">Как добраться</div>
							</a>
						</div>
						<div class="main_about__slider_slide main_about_slide swiper-slide">
							<a href="#" class="main_about_slide__body">
								<div class="main_about_slide__num">05</div>
								<div class="main_about_slide__content">
									<ul>
										<li>Коворкинг-центр</li>
										<li>Бизнес-зал</li>
										<li>Камера хранения</li>
										<li>Ресторан</li>
										<li>Душевые</li>
										<li>Упаковка багажа</li>
										<li>Комната матери и ребёнка</li>
										<li>Залы повышенной комфортности</li>
										<li>Оформление опоздавшего пассажира</li>
										<li>Авиакассы</li>
									</ul>
									<img src="./img/main/main_about/img_5.jpg" alt="">
								</div>
								<div class="main_about_slide__text">Контакты</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>