<section class="news">
	<div class="container">
		<div class="news__content">
			<div class="news__years">
				<a href="#" class="news__year">2023</a>
				<a href="#" class="news__year active">2022</a>
			</div>
			<div class="news__items">
				<a href="#" class="news__item">
					<div class="news__item_date">28.12.2022</div>
					<div class="news__item_title">Целевое обучение в высших учебных заведениях гражданской авиации на 2023 год</div>
					<div class="news__item_text">АО «Аэропорт Сургут» объявляет конкурс на целевое обучение в высших учебных заведениях гражданской авиации на 2023 год среди будущих выпускников средних общеобразовательных школ (обучающихся в 11 классах).АО «Аэропорт Сургут» объявляет конкурс на целевое обучение в высших учебных заведениях </div>
					<div class="news__item_btn">Подробнее</div>
				</a>
				<a href="#" class="news__item">
					<div class="news__item_date">19.12.2022</div>
					<div class="news__item_title">Итоги работы за 11 месяцев</div>
					<div class="news__item_text">Международный аэропорт Сургута подвел итоги производственной деятельности за 11 месяцев текущего года. Количество обслуженных пассажиров увеличилось на 4,5% по отношению к аналогичному периоду 2021 года и достигло 1 772...</div>
					<div class="news__item_btn">Подробнее</div>
				</a>
				<a href="#" class="news__item">
					<div class="news__item_date">28.12.2022</div>
					<div class="news__item_title">Целевое обучение в высших учебных заведениях гражданской авиации на 2023 год</div>
					<div class="news__item_text">АО «Аэропорт Сургут» объявляет конкурс на целевое обучение в высших учебных заведениях гражданской авиации на 2023 год среди будущих выпускников средних общеобразовательных школ (обучающихся в 11 классах).</div>
					<div class="news__item_btn">Подробнее</div>
				</a>
				<a href="#" class="news__item">
					<div class="news__item_date">28.12.2022</div>
					<div class="news__item_title">Целевое обучение в высших учебных заведениях гражданской авиации на 2023 год</div>
					<div class="news__item_text">АО «Аэропорт Сургут» объявляет конкурс на целевое обучение в высших учебных заведениях гражданской авиации на 2023 год среди будущих выпускников средних общеобразовательных школ (обучающихся в 11 классах).</div>
					<div class="news__item_btn">Подробнее</div>
				</a>
				<a href="#" class="news__item">
					<div class="news__item_date">28.12.2022</div>
					<div class="news__item_title">Целевое обучение в высших учебных заведениях гражданской авиации на 2023 год</div>
					<div class="news__item_text">АО «Аэропорт Сургут» объявляет конкурс на целевое обучение в высших учебных заведениях гражданской авиации на 2023 год среди будущих выпускников средних общеобразовательных школ (обучающихся в 11 классах).</div>
					<div class="news__item_btn">Подробнее</div>
				</a>
				<a href="#" class="news__item">
					<div class="news__item_date">28.12.2022</div>
					<div class="news__item_title">Целевое обучение в высших учебных заведениях гражданской авиации на 2023 год</div>
					<div class="news__item_text">АО «Аэропорт Сургут» объявляет конкурс на целевое обучение в высших учебных заведениях гражданской авиации на 2023 год среди будущих выпускников средних общеобразовательных школ (обучающихся в 11 классах).</div>
					<div class="news__item_btn">Подробнее</div>
				</a>
			</div>
		</div>
	</div>
</section>