@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

body {
	font-family: Verdana, sans-serif;
	font-weight: 400;
	color: #2D3F57;
	background: #ffffff;

	&.this--overflow {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1760px;
	margin: 0 auto;
	padding: 0 20px;

	@media ($desktopSmall) {
		padding: 0 12px;
	}
}
main {
	flex: 1 0 auto;
	background: #ffffff;
	padding-top: 118px;
	@media (max-width: 1760px) {
		padding-top: 175px;
	}
	@media ($desktopSmall) {
		padding-top: 118px;
	}
	@media ($tablet3) {
		padding-top: 69px;
	}

	&.this--main {
		padding-top: 0;
	}
	&.this--blue {
		background: #EDF3FA;
	}
}

.section {
	padding: 100px 0;
	@media ($desktopSmall) {
		padding: 60px 0;
	}
	@media ($desktopSmall) {
		padding: 40px 0;
	}
	&.this--top {
		padding-bottom: 0;
	}
	&.this--bottom {
		padding-top: 0;
	}
	&.this--alone {
		padding-top: 0;
		padding-bottom: 150px;
		@media ($desktop) {
			padding-bottom: 100px;
		}
		@media ($tablet3) {
			padding-top: 20px;
			padding-bottom: 60px;
		}
	}
}

@import "./blocks/flight";
@import "./blocks/attention";
@import "./blocks/title";
@import "./blocks/pagination_bullets";
@import "./blocks/page_top";
@import "./blocks/breadcrumbs";
@import "./blocks/run_string";
@import "./blocks/download_link";
@import "./blocks/sample_accordion";
@import "./blocks/work_card";
@import "./blocks/long_files";

@import "../components/header/header";
@import "../components/footer/footer";

@import "../components/main/main_top/main_top";
@import "../components/main/main_online/main_online";
@import "../components/main/main_airport/main_airport";
@import "../components/main/main_about/main_about";
@import "../components/main/main_info/main_info";
@import "../components/main/main_branches/main_branches";
@import "../components/main/main_news/main_news";
@import "../components/main/main_partners/main_partners";

@import "../components/dividing_sample/dividing_sample";

@import "../components/text_sample/text_sample";

@import "../components/flight_board_out/flight_board";

@import "../components/schedule_out/schedule";

@import "../components/scheme/scheme";

@import "../components/online_registration/online_registration";