$desktopSuperBigMax: "min-width: 1700.1px";
$desktopSuperBig: "max-width: 1700px";
$desktopBigMax: "min-width: 1500.1px";
$desktopBig: "max-width: 1500px";
$desktopMax: "min-width: 1200.1px";
$desktop: "max-width: 1200px";
$desktopSmallMax: "min-width: 1100.1px";
$desktopSmall: "max-width: 1100px";
$tabletMax: "min-width: 1024.1px";
$tablet: "max-width: 1024px";
$tablet2Max: "min-width: 960.1px";
$tablet2: "max-width: 960px";
$tablet3Max: "min-width: 768.1px";
$tablet3: "max-width: 768px";
$mobileMax: "min-width: 640.1px";
$mobile: "max-width: 640px";
$mobileMiddleMax: "min-width: 500.1px";
$mobileMiddle: "max-width: 500px";
$mobile2Max: "min-width: 425.1px";
$mobile2: "max-width: 425px";
$mobile3Max: "min-width: 351.1px";
$mobile3: "max-width: 351px";
